@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

@import "_reset";

// Main styles
:root {
    font-family: "Merienda", cursive;
    font-weight: 400;
    color: #000;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.error {
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto;
}
