.home-header {
    background: url("../../assets/backgrounds/homepage.png") no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px 0 200px 0;
}

.home-header .nav {
    margin-bottom: 110px;
}

.home-header .nav__logo-img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home-header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.home-header__container .divider {
    margin-bottom: 34px;

    &::before {
        background-color: #fff;
    }

    &::after {
        background-color: #fff;
    }
}

.home-header__container .divider__img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home-header__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 20px;
}

.home-header__button {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 42px;
    border: 1px solid #fff;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
